<!DOCTYPE html>
<html>
  <head>
    <title>
      Test
    </title>
    <link rel="stylesheet" type="text/css" href="static/default.css">
  </head>
  <body>
    <form action="register" method="POST">
      Register
      <br>
      {{message}}
      <br>
      <input type="text" class="text-box" name="username" placeholder="Username" />
      <br>
      <input type="password" class="text-box" name="password" placeholder="Password" />
      <br>
      <input type="submit" class="button" value="Register" />
    </form>
    <br>
    Already have an account? Login
    <a href={{url_for('login')}}> here.</a>
  </body>
</html>
