;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Sep 13 20:10:09 2016
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/noobbyte/stuy/systems/Hello.java" "~/noobbyte/stuy/systems/hello.c"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/kenneth/noobbyte/stuy/systems/hello.c"
  "hello.c"
  'c-mode
  '(abbrev-mode hs-minor-mode)
  40
  '(40 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/kenneth/noobbyte/stuy/systems/Hello.java"
  "Hello.java"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  19
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

